@charset "UTF-8";

/* ヘッダー */
.header {
  background-color: #fff9e5;
  position: relative;
}

.header .LOGO {
  width: 136px;
  position: absolute;
  top: 100%;
  right: 45%;
  z-index: 100;
}

.daily_welcome {
  background-color: #fff9e5;
  display: flex;
  padding-left: 16px;
}

.date {
  display: flex;
  gap: 8px;
}

.date .year {
  font-size: 12px;
  transform: rotate(90deg);
}

.date .month_date {
  font-size: 26px;
}

.date .day_of_week {
  font-size: 12px;
  transform: rotate(-90deg);
}

.welcome_text {
  background: #fff;
  width: 170px;
  height: 26px;
  border: 1px solid #f58196;
  border-radius: 26px;
  display: flex;
}

.welcome_text img {
  width: 58px;
  margin-left: 8px;
  position: relative;
  overflow: hidden;
}

.contact_page_header {
  background-color: #fff9e5;
  padding: 60px;
}

.contact_LOGO {
  width: 136px;
}

/* MV */
.main_visual {
  background-color: #fff9e5;
}

.MV_img {
  width: 1100px;
  padding: 40px 80px 80px 80px;
  margin: auto;
  position: relative;
}

/* MVテキスト部分 */
.MV_img span {
  background-color: #fff;
  font-size: 40px;
  display: inline-block;
  padding: 16px;
  margin-left: 80px;
}

.MV_img span:first-child {
  position: absolute;
  top: 240px;
  left: 20px;
}

.MV_img span:nth-child(2) {
  position: absolute;
  top: 332px;
  left: 20px;
}

.MV_img span:last-child {
  position: absolute;
  top: 424px;
  left: 20px;
}

/* MV下の装飾 */
.main_visual p img {
  background-color: #f58196;
  height: 94px;
}

/* About MeとWorks */
.main_container {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.banner_box {
  width: 520px;
  height: 520px;
  background-color: #fff;
  border: 1px solid #1f1e00;
  border-radius: 52px;
}

.banner_box h2 a .img {
  display: block;
  width: 420px;
  height: 420px;
  margin: auto;
  padding-top: 50px;
}

/* concept */
.concept {
  background-color: #fff9e5;
  border: 4px solid #1f1e00;
  border-radius: 28px;
  box-sizing: border-box;
  padding: 4px;
}

.concept_text {
  background-color: #fff9e5;
  border: 1px solid #1f1e00;
  border-radius: 22px;
  padding: 60px 10px 20px 10px;
}

.concept_text p {
  font-size: 24px;
  text-align: center;
  line-height: 2;
}

.nico {
  display: flex;
}

/* 制作実績TOP一覧 */

.Works {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 60px;
}

.works_box {
  width: 300px;
}

.works_img {
  width: 300px;
  height: 300px;
  background-color: #fff;
  border: 1px solid #1f1e00;
  border-radius: 30px;
}

.works_img img {
  width: 242px;
  height: 242px;
  display: block;
  margin: auto;
  padding: 29px;
}

h3 {
  font-size: 24px;
  font-weight: 500;
  margin: 24px 0px 10px 8px;
}

.key p {
  font-size: 12px;
  font-weight: 400;
  background-color: #fff;
  border: 1px solid #1f1e00;
  border-radius: 22px;
  display: inline-block;
  padding: 4px 0;
  margin: 4px 4px;
  width: 80px;
  text-align: center;
}

/* 制作実績一覧ページ遷移ボタン */
.Works_btn {
  border-bottom: 2px solid#1f1e00;
  width: 498px;
  margin: 50px auto;
  padding: 16px;
}

.Works_btn a {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Works_btn_text {
  width: 284px;
}

.Works_btn_arrow {
  width: 36px;
}

/* contact */
.contact_container {
  background-color: #f58196;
  border: 4px solid #fff;
  height: 380px;
  border-radius: 50px;
  margin-bottom: 100px;
  box-sizing: border-box;
  padding: 4px;
}

.border {
  background-color: #f58196;
  border: 1px solid #fff;
  border-radius: 44px;
  padding: 40px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

/* contactテキスト部分 */
.contact_text {
  /* background-color: antiquewhite; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 60px;
}

.contact_text h2 img {
  display: block;
  width: 296px;
  margin-bottom: 26px;
}

.contact_container p {
  color: #fff;
  font-size: 20px;
  line-height: 1.5;
}

/* （FAQ）contactページ遷移ボタン */
.faq_btn {
  /* background-color: antiquewhite; */
  border-bottom: 2px solid #fff;
  width: 264px;
}

.faq_btn a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.faq_btn_text {
  width: 140px;
}

.faq_btn_arrow {
  width: 20px;
  margin-bottom: 12px;
}

/* contactイラスト部分 */
.contact_illust {
  background-color: #c7eaee;
  border: 8px solid #fff;
  border-radius: 42px;
  width: 466px;
  height: 264px;
  position: relative;
}

.contact_link img {
  display: block;
  width: 162px;
  position: relative;
  top: 25%;
  left: 35%;
  z-index: 50;
}
.contact_illust .balloon1 {
  width: 60px;
  position: absolute;
  top: 20px;
  left: 80px;
}
.contact_illust .balloon2 {
  width: 88px;
  position: absolute;
  top: 80px;
  left: 20px;
  z-index: 2;
}
.contact_illust .cloud {
  width: 148px;
  position: absolute;
  top: 23%;
  right: 9%;
  z-index: 1;
}
.contact_illust .cloud2 {
  width: 94px;
  position: absolute;
  bottom: 10px;
  left: 110px;
}
.contact_illust .cloud3 {
  width: 148px;
  position: absolute;
  bottom: 10%;
  left: 5%;
}
.contact_illust .cloud4 {
  width: 94px;
  position: absolute;
  top: 10%;
  left: 42%;
}
.contact_illust .Sun {
  width: 96px;
  position: absolute;
  top: 5%;
  right: 5%;
}

/* 検索窓 */
.search {
  /* background-color: #fff; */
  background-image: url(../image/make_smile_circle.svg);
  width: 166px;
  height: 166px;
  border-radius: 50%;
  margin: 48px auto;
  position: sticky;
  left: 45%;
  bottom: 3%;
  z-index: 100;
}

/* 検索窓用アニメーション */
@keyframes rotateCircle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.search {
  animation: rotateCircle 30s linear infinite;
}

.glass {
  display: block;
  width: 76px;
  margin: auto;
  padding-top: 45px;
}

/* フッター */
.footer {
  background-color: #fff9e5;
  display: flex;
  justify-content: space-between;
  padding: 32px 8%;
}

.footer_nav {
  /* background-color: #c7eaee; */
  display: flex;
  gap: 72px;
}

.footer_nav ul {
  display: flex;
  gap: 72px;
  align-items: center;
}

.footer_nav li {
  font-size: 20px;
}

.sns_box {
  display: flex;
  align-items: center;
  gap: 16px;
}

.sns {
  width: 40px;
}

.footer_right {
  /* background-color: #c7eaee; */
  display: flex;
  align-items: flex-end;
  gap: 60px;
}

.top_page {
  width: 18px;
}

/*----------------- About Me---------------- */
/* .AboutMe {
  background: #f58196;
} */

.AboutMe_title,
.Skills_titel,
.Works_title {
  display: flex;
  gap: 24px;
  align-items: baseline;
  margin-bottom: 80px;
  margin-left: 45px;
}

.AboutMe_title h2 img {
  width: 342px;
}

.AboutMe_title p,
.Skills_titel p,
.contact_title p {
  font-size: 36px;
  color: #f58196;
  text-shadow: 1px 1px 1px #fff, -1px 1px 1px #fff, 1px -1px 1px #fff,
    -1px -1px 1px #fff;
}

.AboutMe_container {
  background-color: #fff9e5;
  border-radius: 54px;
  max-width: 900px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 0 0 0 10%;
  margin: 0 auto;
}

.aboutme_text {
  /* background-color: #f58196; */
  margin-top: 118px;
  margin: 92px;
  display: flex;
  flex-direction: column;
}

.name h3 {
  font-size: 36px;
  font-weight: 500;
  margin: 24px 0 10px -4px;
}

.aboutme_text p {
  font-size: 16px;
  line-height: 1.4;
  padding-bottom: 64px;
}

.icon img {
  display: block;
  width: 300px;
  border-radius: 50%;
  margin-top: 54px;
  margin-bottom: 260px;
}

/* スキル&ツール */
.Skills {
  margin-bottom: 140px;
}

.Skills_container {
  display: flex;
  gap: 60px;
  margin-bottom: 92px;
}

.Skills_titel h2 img {
  width: 458px;
}

.Skills_box {
  width: 520px;
  height: 800px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 36px;
}

.design_box {
  background-color: #fac0ca;
}

.coding_box {
  background-color: #b8e4e2;
}

.Skills_box img {
  display: block;
  width: 280px;
  margin-top: 32px;
}

.Skills_box h3 {
  font-size: 36px;
  font-weight: 400;
  margin: 48px auto;
}

.Skills_box p {
  font-size: 16px;
  line-height: 2;
}

/* ツール部分 */
.Tools_box {
  /* display: flex; */
  background-color: #fff;
  text-align: left;
}

.Tools {
  display: flex;
  align-items: baseline;
  gap: 16px;
  flex-wrap: wrap;
  margin-top: 80px;
}

.coding_box .Tools {
  margin-top: 140px;
}

.Tools h4 {
  font-size: 16px;
  font-weight: 400;
}

.Tools p {
  border: 1px solid #1f1e00;
  border-radius: 34px;
  padding: 0 8px 2px 8px;
  line-height: 24px;
}

/* -----------------------WORKS--------------------- */
.Works_title {
  padding-left: 0;
}

.Works_title h2 img {
  width: 218px;
}

.Works_title p {
  font-size: 36px;
  color: #71cac6;
  text-shadow: 1px 1px 1px #fff, -1px 1px 1px #fff, 1px -1px 1px #fff,
    -1px -1px 1px #fff;
}

/* ---------Works遷移ページ------------ */

.Works_Content h3 {
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 60px;
}

.Works_content_block {
  display: flex;
  flex-direction: column;
}

.Works_small_block {
  display: flex;
  gap: 24px;
  align-items: center;
  margin-bottom: 40px;
}

.Works_Content h4 {
  font-size: 24px;
  font-weight: 400;
}

.Works_small_block:first-child h4,
.Works_small_block:nth-child(3) h4 {
  margin-right: 72px;
}

.Works_small_block:nth-child(2) h4 {
  margin-right: 24px;
}

.Works_small_block p {
  font-size: 24px;
}

.Works_small_block:nth-child(4) p {
  display: inline;
  padding: 8px 16px 12px 16px;
  border-radius: 40px;
  border: 1px solid#1f1e00;
}

.photoshop {
  background-color: #8fd5dd;
}

.Illustrator {
  background-color: #dc743b;
}

.Figma {
  background: #af6ca7;
}

.Canva {
  background-color: #c7eaee;
}

.VisualStudioCode {
  background-color: #8fb1dd;
}

.STUDIO {
  background-color: #f57096;
}

.GitHub {
  background-color: #af58a5;
}

.Works_overview_point {
  background-color: #fff9e5;
  border: 4px solid #1f1e00;
  border-radius: 50px;
  padding: 4px;
  margin-top: 30px;
  margin-bottom: 100px;
}

.Works_overview_point ul {
  background-color: #fff9e5;
  border: 2px solid #1f1e00;
  border-radius: 44px;
  padding: 40px 48px;
}

.Works_overview_point h4 {
  margin-bottom: 24px;
}

.overview {
  margin-bottom: 40px;
}

.Works_images h4 {
  margin-bottom: 48px;
}

.Works_images ul {
  display: flex;
  gap: 48px;
}

.Works_images img {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

/* コンタクトフォームページ */
.contact_title {
  display: flex;
  gap: 24px;
  align-items: baseline;
  margin-bottom: 64px;
}

.contact_title h2 {
  width: 296px;
}

.contact_message p {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.4;
}

.form_content_box {
  margin: 112px auto;
}

/* フォームの中身 */
.form_content {
  display: flex;
  margin-bottom: 92px;
  gap: 100px;
  justify-content: space-between;
}

.form_content label {
  font-size: 36px;
  font-weight: 400;
}

.form_content label::before {
  content: "◎";
}

.form_content label::after {
  content: "＊";
  color: #f5022e;
}

.form_content input,
.form_content textarea,
.form_content select {
  background-color: #fff;
  width: 524px;
  border: 1px solid #1f1e00;
  border-radius: 16px;
  box-sizing: border-box;
  padding: 4px 16px 4px 16px;
}

.send_btn {
  text-align: center;
}

.send_btn button {
  background-color: #ebf7f9;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
  border: 1px solid #1f1e00;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

.send_btn button:hover {
  background-color: #c7eaee;
  cursor: pointer;
  transition: 0.5s;
}

button img {
  width: 126px;
}
