@charset "UTF-8";

/* ローディング画面 */
#loading {
  width: 100vw;
  height: 100vh;
  transition: all 5s;
  background-color: #f58196;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
.wrapper {
  width: 200px;
  height: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff9e5;
  left: 15%;
  transform-origin: 50%;
  animation: circle 0.5s alternate infinite ease;
}

@keyframes circle {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }
  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0%;
  }
}
.circle:nth-child(2) {
  left: 45%;
  animation-delay: 0.2s;
}
.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}
.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow 0.5s alternate infinite ease;
}

@keyframes shadow {
  0% {
    transform: scaleX(1.5);
  }
  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }
  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}
.shadow:nth-child(4) {
  left: 45%;
  animation-delay: 0.2s;
}
.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}
.wrapper span {
  position: absolute;
  top: 75px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 12px;
  color: #fff9e5;
  left: 15%;
  font-family: "vdl-gigamarujr", sans-serif;
}

.loaded {
  opacity: 0;
  visibility: hidden;
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    90deg,
    #e7f6f5,
    #fff5d7 34%,
    #fff9e5 72%,
    #fdeaed 97%
  ); /* 背景カラー */
  z-index: 9999; /* 一番手前に */
  pointer-events: none; /* 他の要素にアクセス可能にするためにポインターイベントは無効に */
  opacity: 0; /* 初期値では非表示 */
  -webkit-transition: opacity 0.3s ease; /* アニメーション時間は 0.3秒 */
  transition: opacity 0.3s ease;
}
/*body要素に.fadeoutセレクタがある場合には、レイヤーが表示されるようにopacityを１に設定します。*/
body.fade::after {
  opacity: 1;
}

/* ヘッダー */
.header {
  background-color: #fff9e5;
  position: relative;
}

.header .LOGO {
  width: 136px;
  position: absolute;
  top: 100%;
  right: 45%;
  z-index: 100;
}

.daily_welcome {
  background-color: #fff9e5;
  display: flex;
  padding-left: 4%;
}

.date_box {
  display: flex;
  gap: 8px;
}

.date_box .year {
  font-size: 12px;
  transform: rotate(90deg);
}

.date_box .month,
.date_box .date {
  font-size: 26px;
}

.date_box .day {
  font-size: 12px;
  transform: rotate(-90deg);
}

/* ようこそ　テキスト */

@keyframes infinity-scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.scroll-infinity__wrap {
  display: flex;
  overflow: hidden;
  background: #fff;
  width: 170px;
  height: 26px;
  border: 1px solid #f58196;
  border-radius: 26px;
}
.scroll-infinity__list {
  display: flex;
  list-style: none;
  padding: 0;
}
.scroll-infinity__list--left {
  animation: infinity-scroll-left 15s infinite linear 0.5s both;
}
.scroll-infinity__item {
  width: calc(35vw / 6);
}
.scroll-infinity__item > img {
  width: 100%;
}

.scroll-infinity__item img {
  margin-top: 6px;
  width: 58px;
  height: auto;
}

.contact_page_header {
  background-color: #fff9e5;
  padding: 60px;
}

.contact_LOGO {
  width: 136px;
}

/* MV */
.main_visual_top {
  display: flex;
  flex-direction: row;
}

.main_visual {
  background-color: #fff9e5;
}

.prev,
.next {
  width: 80px;
  height: auto;
  background-color: #fff9e5;
}

.MV_img {
  max-width: 1100px;
  padding: 40px 80px 80px;
  margin: auto;
}

.header_slider .picture {
  position: relative;
}

.WORKS .picture {
  display: block;
}

/* MVテキスト部分 */
.MV_text {
  font-size: 40px;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 24px;
  bottom: 24%;
  margin-left: 20px;
}

.MV_text span {
  background-color: #fff;
  padding: 16px;
  width: fit-content;
  box-shadow: -5px -5px 10px 0px rgba(255, 255, 255, 0.5),
    5px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

/* メニュー */
.nav_btn {
  display: block;
  height: 23px;
  cursor: pointer;
  position: absolute;
  top: 54px;
  right: 84px;
  /* 重なり具合 */
  z-index: 2;
}

.nav_btn span {
  display: block;
  width: 33px;
  height: 3px;
  background: #f58196;
  border-radius: 2px;
  position: relative;
  top: 10px;
  transition: 0.3s;
}

.nav_btn span::before,
.nav_btn span::after {
  content: "";
  display: block;
  width: 33px;
  height: 3px;
  background: #f58196;
  border-radius: 2px;
  position: absolute;
  transition: 0.3s;
}

.nav_btn span::before {
  bottom: 10px;
}

.nav_btn span::after {
  top: 10px;
}

/* ばつ印 */
.nav_btn.open span {
  background: transparent;
}

.nav_btn.open span::before {
  bottom: 0;
  transform: rotate(45deg);
}

.nav_btn.open span::after {
  top: 0;
  transform: rotate(135deg);
}

.nav {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 100vh;
  background: #fff9e5;
  /* 重なり具合 */
  z-index: 1;
}

.nav ul {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.nav ul li {
  color: #1f1e00;
  padding: 30px;
  font-family: "vdl-gigamarujr", sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.nav li:hover {
  color: #f57096;
}

.nav a {
  position: relative;
}

.nav a::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #f57096;
  bottom: -10px;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

.nav a:hover::after {
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}

.slick-prev:before {
  content: url(../image/PREV_arrow.svg);
  font-family: "vdl-gigamarujr", sans-serif;
}
.slick-next:before {
  content: url(../image/NEXT_arrow.svg);
  font-family: "vdl-gigamarujr", sans-serif;
}

.slick-prev {
  margin: 10px;
  width: 64px;
  left: -84px;
  padding-top: 300px;
}

.slick-next {
  margin: 10px;
  max-width: 64px;
  width: 100%;
  right: -84px;
  padding-top: 300px;
}

/* MV下の装飾 */
.MV-scroll-infinity__wrap {
  background-color: #f58196;
  width: 100%;
  height: 94px;
  border-radius: 0px;
  box-sizing: border-box;
}

.MV-scroll-infinity__wrap .scroll-infinity__item {
  width: calc(120vw / 6);
  margin-left: 48px;
}

.MV-scroll-infinity__wrap .scroll-infinity__item img {
  margin: 36px 0px;
  width: 288px;
  height: auto;
  display: block;
}
.MV-scroll-infinity__wrap .scroll-infinity__list--left {
  animation: infinity-scroll-left 25s infinite linear 0.5s both;
}
@media screen and (max-width: 1384px) {
  .MV_img {
    width: 100%;
    max-width: 1000px;
  }
}
@media screen and (max-width: 1230px) {
  .MV_img {
    margin-left: 7%;
  }
}

@media screen and (max-width: 1162px) {
  .MV_img {
    width: 100%;
    max-width: 900px;
  }
}

@media screen and (max-width: 1140px) {
  .MV_text {
    font-size: 32px;
    bottom: 35%;
    gap: 20px;
  }

  .MV_text span {
    padding: 12px;
  }
  .slick-prev,
  .slick-next {
    margin: 10px;
    width: 50px;
    padding-top: 300px;
  }
  .MV_img {
    width: 100%;
    max-width: 800px;
  }
}
@media screen and (max-width: 980px) {
  .slick-prev {
    width: 40px;
    left: -64px;
  }
  .slick-next {
    width: 40px;
    right: -64px;
  }
  .MV_img {
    padding: 40px 0 80px;
  }
}
@media screen and (max-width: 1100px) {
  .MV_img {
    width: 100%;
    max-width: 800px;
    margin-left: 4%;
  }
}
@media screen and (max-width: 930px) {
  .MV_text {
    font-size: 28px;
    bottom: 39%;
  }
  .MV_img {
    padding: 40px 0 80px;
  }

  .prev,
  .next {
    width: 0px;
    height: auto;
  }
  .MV_img img {
    object-fit: cover;
    box-sizing: border-box;
  }
  .slick-prev {
    width: 40px;
    left: 0%;
    top: 68%;
  }
  .slick-next {
    width: 40px;
    right: 0%;
    top: 68%;
  }
}

/* SP版 */
@media screen and (max-width: 800px) {
  .header {
    position: relative;
  }

  .header_left {
    display: flex;
    justify-content: flex-start;
    padding-left: 30px;
    padding-top: 24px;
  }

  .header .LOGO {
    width: 80px;
    position: static;
  }

  .contact_LOGO {
    width: 80px;
  }

  .daily_welcome {
    flex-direction: column;
    gap: 10px;
  }

  .daily_welcome .scroll-infinity__item {
    width: calc(40vw / 6);
    padding-left: 8px;
    overflow: hidden;
  }

  .daily_welcome .scroll-infinity__item img {
    width: 42px;
  }

  .nav_btn {
    top: 40px;
    right: 40px;
    /* 重なり具合 */
    z-index: 2;
  }

  .nav {
    width: 100%;
    background: rgba(255, 249, 229, 0.98);
  }

  /* MV */
  .prev,
  .next {
    width: 0px;
    height: auto;
  }
  .slick-prev,
  .slick-next {
    top: 67%;
  }

  .MV_img img {
    object-fit: cover;
    box-sizing: border-box;
  }
  .MV_text {
    font-size: 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 30px;
  }
  .MV-scroll-infinity__wrap {
    height: 60px;
  }
  .MV-scroll-infinity__wrap .scroll-infinity__item {
    width: calc(280vw / 6);
    margin-left: 30px;
  }
  .MV-scroll-infinity__wrap .scroll-infinity__item img {
    margin-top: 20px;
  }
}

@media screen and (max-width: 700px) {
  .slick-prev,
  .slick-next {
    top: 62%;
  }
  .MV_text {
    bottom: 39%;
  }
}
@media screen and (max-width: 600px) {
  .MV_text {
    bottom: 46%;
  }
  .slick-prev,
  .slick-next {
    top: 55%;
  }
}
@media screen and (max-width: 481px) {
  .MV_text {
    bottom: 21%;
  }
  .slick-prev,
  .slick-next {
    top: 68%;
  }
}
@media screen and (max-width: 400px) {
  .MV_text {
    bottom: 31%;
  }
  .slick-prev,
  .slick-next {
    top: 65%;
  }
}

/* About MeとWorks */
.main_container {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.banner_box {
  width: 520px;
  height: 520px;
  background-color: #fff;
  border: 1px solid #1f1e00;
  border-radius: 52px;
  position: relative;
  overflow: hidden;
}

.banner_box h2 a .img {
  display: block;
  width: 420px;
  height: 420px;
  margin: auto;
  padding-top: 50px;
  transition-duration: 0.4s;
  position: absolute;
  top: 0;
  left: 50px;
}

.banner_box h2 a .img:hover {
  transform: scale(0.9);
}

.banner_box .around_text_box .around_text_block,
.works_img .around_text_box .around_text_block {
  font-size: 1rem;
  align-items: center;
  aspect-ratio: 690 / 71;
  -webkit-clip-path: polygon(6% 0, 94% 0, 103.5% 100%, -3.5% 100%);
  clip-path: polygon(6% 0, 94% 0, 103.5% 100%, -3.5% 100%);
  display: flex;
  font-size: 1rem;
  justify-content: center;
  position: absolute;
  width: 93%;
}

.banner_box .around_text_box .around_text_block p,
.works_img .around_text_box .around_text_block p {
  align-items: center;
  -webkit-animation: frame 8s linear 0s infinite;
  animation: frame 8s linear 2s infinite;
  display: flex;
  height: 100%;
  justify-content: space-between;
  left: 0;
  position: absolute;
  top: 0;
  width: 300%;
  font-family: "vdl-gigamarujr", sans-serif;
  font-weight: 300;
}

.banner_box.Works_banner .around_text_box .around_text_block p {
  -webkit-animation: frame 8s linear 0s infinite;
  animation: frame 8s linear 0s infinite;
}

.banner_box .around_text_box .around_text_block p span,
.works_img .around_text_box .around_text_block p span {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 33.3333333333%;
  color: #71cac6;
}

.banner_box .around_text_box .around_text_block.block1,
.works_img .around_text_box .around_text_block.block1 {
  left: 3.5%;
  rotate: 180deg;
  top: 0;
}

.banner_box .around_text_box .around_text_block.block2,
.works_img .around_text_box .around_text_block.block2 {
  bottom: 96.5%;
  right: 0;
  rotate: -90deg;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.banner_box .around_text_box .around_text_block.block3,
.works_img .around_text_box .around_text_block.block3 {
  bottom: 0;
  left: 0;
  margin: 0 auto;
  right: 0;
}

.banner_box .around_text_box .around_text_block.block4,
.works_img .around_text_box .around_text_block.block4 {
  bottom: 96.5%;
  left: 0;
  rotate: 90deg;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

@keyframes frame {
  0% {
    translate: 0 0;
  }
  25% {
    translate: 0 0;
  }
  50% {
    translate: -33.3% 0;
  }
  75% {
    translate: -33.3% 0;
  }
  100% {
    translate: -66.6% 0;
  }
}

@media screen and (max-width: 1140px) {
  .main_container {
    gap: 20px;
  }

  .banner_box {
    width: 480px;
    height: 480px;
  }
  .banner_box h2 a .img {
    width: 380px;
    height: 380px;
    top: 0%;
    left: 10%;
  }
}

@media screen and (max-width: 980px) {
  .main_container {
    justify-content: space-around;
    margin-right: 10px;
    margin-left: 10px;
  }

  .banner_box {
    width: 400px;
    height: 400px;
  }
  .banner_box h2 a .img {
    width: 323px;
    height: 323px;
    top: -3%;
    left: 10%;
  }
}

@media screen and (max-width: 840px) {
  .banner_box h2 a .img {
    width: 300px;
    height: 300px;
    top: 0%;
    left: 11%;
  }
}

/* SP版 */
@media screen and (max-width: 800px) {
  .main_container {
    gap: 40px;
    flex-direction: column;
    align-items: center;
  }
  .banner_box {
    width: 300px;
    height: 300px;
    background-color: #fff;
    border: 1px solid #1f1e00;
    border-radius: 30px;
  }

  .banner_box h2 a .img {
    width: 242px;
    height: 242px;
    margin: auto;
    padding-top: 50px;
    top: -21px;
    left: 30px;
  }
}

/* concept */
.concept {
  background-color: #fff9e5;
  border: 4px solid #1f1e00;
  border-radius: 28px;
  box-sizing: border-box;
  padding: 4px;
}

.concept_text {
  background-color: #fff9e5;
  border: 1px solid #1f1e00;
  border-radius: 22px;
  padding: 60px 10px;
  position: relative;
}

.concept_text p {
  font-size: 24px;
  text-align: center;
  line-height: 2;
  font-weight: normal;
  font-style: normal;
}

.nico1 {
  display: block;
  width: 56px;
  position: absolute;
  bottom: 0px;
  left: 25px;
  animation: rolling_right 9s ease-in-out 1.65s infinite;
}

.nico2 {
  display: block;
  width: 56px;
  position: absolute;
  bottom: 0px;
  right: 25px;
  animation: rolling_left 7.5s ease-in-out 1.98s infinite;
}

.nico3 {
  display: block;
  width: 56px;
  position: absolute;
  bottom: 0px;
  right: 50%;
  animation: rolling_left 8s ease-in-out 1.85s infinite;
}

.nico_footer {
  bottom: 125px;
  left: 50%;
}

/* nicoアニメーション */
@keyframes return {
  0% {
    rotate: -63deg;
    translate: -21px 0;
  }
  40% {
    rotate: -170deg;
    translate: -81px 0;
  }
  80% {
    rotate: 10deg;
    translate: 10px 0;
  }
  100% {
    rotate: 0deg;
    translate: 0 0;
  }
}

@keyframes rolling_left {
  0% {
    rotate: 0deg;
    translate: 0 0;
  }
  20% {
    rotate: -170deg;
    translate: -81px 0;
  }
  40% {
    rotate: 25deg;
    translate: 20px 0;
  }
  50% {
    rotate: 0deg;
    translate: 0 0;
  }
  0% {
    rotate: 0deg;
    translate: 0 0;
  }
}
@keyframes rolling_right {
  0% {
    rotate: 0deg;
    translate: 0 0;
  }
  20% {
    rotate: 170deg;
    translate: 81px 0;
  }
  40% {
    rotate: -25deg;
    translate: -20px 0;
  }
  50% {
    rotate: 0deg;
    translate: 0 0;
  }
  0% {
    rotate: 0deg;
    translate: 0 0;
  }
}

@media screen and (max-width: 800px) {
  .concept_text {
    padding: 60px 20px;
  }

  .concept_text p {
    font-size: 16px;
  }

  .nico1,
  .nico2,
  .nico3 {
    width: 30px;
  }

  .nico_footer {
    bottom: 100%;
    left: 50%;
  }
}

/* 制作実績TOP一覧 */
.Works_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.Works {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 60px;
}

.works_box {
  width: 300px;
  overflow: hidden;
}

.works_img {
  width: 300px;
  height: 300px;
  background-color: #fff;
  border: 1px solid #1f1e00;
  border-radius: 30px;
  position: relative;
  box-sizing: border-box;
}

.works_img img {
  width: 242px;
  height: 242px;
  display: block;
  margin: auto;
  padding: 29px;
  transition-duration: 0.4s;
}

.works_img img:hover {
  transform: scale(0.9);
}

h3 {
  font-size: 24px;
  font-weight: 500;
  margin: 24px 0px 10px 8px;
}

.key p {
  font-size: 12px;
  font-weight: 400;
  background-color: #fff;
  border: 1px solid #1f1e00;
  border-radius: 22px;
  display: inline-block;
  padding: 4px 0;
  margin: 4px 4px;
  width: 80px;
  text-align: center;
}

/* 制作実績一覧ページ遷移ボタン */
.Works_btn a,
.faq_btn a {
  border-bottom: 2px solid#1f1e00;
  width: 498px;
  margin: 50px auto;
  padding: 16px;
  display: inline-block;
  position: relative;
  font-size: 36px;
  font-family: "vdl-gigamarujr", sans-serif;
  font-weight: 300;
}

.Works_btn a::before,
.faq_btn a::before {
  background-image: url(../image/Works_arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 0;
  content: "";
  height: 25px;
  margin: auto;
  position: absolute;
  right: 30px;
  top: 10px;
  width: 36px;
}

.Works_btn a::before,
.Works_btn a::after,
.faq_btn a::before,
.faq_btn a::after {
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 0;
  content: "";
  height: 25px;
  margin: auto;
  position: absolute;
  right: 30px;
  top: 10px;
  transition: right 0.5s;
  width: 36px;
}
.Works_btn a:hover::before,
.faq_btn a:hover::before {
  right: 25px;
}

@media screen and (max-width: 1140px) {
  .Works {
    gap: 40px;
    margin: 100px 60px;
  }
}

@media screen and (max-width: 980px) {
  .Works {
    justify-content: space-around;
    gap: 40px;
  }
}

/* SP版 */
@media screen and (max-width: 800px) {
  /* 制作実績一覧ページ遷移ボタン */
  .Works_btn a,
  .faq_btn a {
    width: 200px;
    padding-left: 0px;
    font-size: 16px;
  }

  .Works_btn a::before,
  .faq_btn a::before {
    right: 30px;
    top: 16px;
    width: 20px;
  }

  .Works_btn a::before,
  .Works_btn a::after,
  .faq_btn a::before,
  .faq_btn a::after {
    right: 30px;
    top: 16px;
    width: 20px;
  }
}

/* contact */
.contact_container {
  background-color: #f58196;
  border: 4px solid #fff;
  height: 380px;
  border-radius: 50px;
  margin-bottom: 100px;
  box-sizing: border-box;
  padding: 5px;
}

.border {
  background-color: #f58196;
  border: 1px solid #fff;
  border-radius: 44px;
  padding: 40px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  gap: 20px;
}

/* contactテキスト部分 */
.contact_text {
  /* background-color: antiquewhite; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 60px;
}

h2 {
  font-size: 72px;
  color: #fff;
  margin-bottom: 26px;
  font-family: "vdl-gigamarujr", sans-serif;
  font-weight: 300;
}

.contact_container p {
  color: #fff;
  font-size: 20px;
  line-height: 1.5;
}

/* （FAQ）contactページ遷移ボタン */
.faq_btn a {
  font-size: 20px;
  color: #fff;
  font-family: "vdl-gigamarujr", sans-serif;
  font-weight: 300;
  padding: 8px;
  border-bottom: 1px solid#fff;
  width: 264px;
  margin: 0 auto;
}

.faq_btn a::before {
  background-image: url(../image/FAQ_arrow.svg);
}

/* contactイラスト部分 */
.contact_illust {
  background-color: #c7eaee;
  border: 8px solid #fff;
  border-radius: 42px;
  width: 466px;
  height: 264px;
  position: relative;
}

.contact_link img {
  display: block;
  width: 162px;
  position: relative;
  top: 25%;
  left: 35%;
  z-index: 50;
  animation: updown 2s infinite ease-in-out alternate;
}

/* .contact_link img a:hover {
  animation: silde 2s infinite ease-in-out alternate;
} */

@keyframes updown {
  0% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(2px);
  }
}

@keyframes slide {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(8px);
  }
}

.contact_illust .balloon1 {
  width: 60px;
  position: absolute;
  top: 20px;
  left: 80px;
  animation: fuwafuwa 4s ease-in-out infinite alternate;
}
.contact_illust .balloon2 {
  width: 88px;
  position: absolute;
  top: 80px;
  left: 20px;
  z-index: 2;
  animation: fuwafuwa 3s ease-in-out infinite alternate;
}

/* .contact_illust .Sun {
  width: 96px;
  position: absolute;
  top: 5%;
  right: 5%;
} */

.contact_illust {
  animation: cloud 25s linear infinite;
  background: url(../image/cloud.svg),
    linear-gradient(#2cb4fd, hsl(171, 40%, 91%));
  background-position-x: 0%;
  background-position-y: 35%;
  background-repeat: repeat-x;
  transition: 1s;
}

.contact_illust:hover {
  animation: cloud 10s linear infinite;
  background: url(../image/cloud.svg),
    linear-gradient(#ffb039, hsl(171, 40%, 91%));
  background-position-x: 0%;
  background-position-y: 35%;
  background-repeat: repeat-x;
}

/* 2. keyframeを使って、雲が流れるように。 */
@keyframes cloud {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -800px;
  }
}

@keyframes fuwafuwa {
  0% {
    transform: translate(0, 0) rotate(-7deg);
  }
  50% {
    transform: translate(0, -7px) rotate(0deg);
  }
  100% {
    transform: translate(0, 0) rotate(7deg);
  }
}

/* 検索窓 */
/*開閉用ボタン（ハンバーガーボタン）*/
.glass {
  margin: 0px auto;
  display: block;
  /* line-height: 200px; */
  width: 76px;
  padding: 25%;
}

.menu-btn {
  position: sticky;
  margin-bottom: 70px;
  bottom: 5%;
  left: 44%;
  right: 44%;
  background-image: url(../image/make_smile_circle.svg);
  width: 166px;
  height: 166px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 101;
  border: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  animation: rotateCircle 30s linear infinite;
}
.menu-btn-line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 1px;
  width: 30%;
  background: #333;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: none;
}
.menu-btn-line::before,
.menu-btn-line::after {
  content: "";
  height: 1px;
  width: 100%;
  background: #333;
  position: absolute;
  left: 0;
  -webkit-transition: inherit;
  transition: inherit;
}
.menu-btn-line::before {
  top: -5px;
}
.menu-btn-line::after {
  top: 5px;
}

/* 開閉用ボタンがクリックされた時のスタイル */

.open .menu {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  visibility: visible;
  opacity: 1;
  display: flex;
  flex-direction: column;
  padding: 3%;
  margin: 40px auto;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #f58196 #f6cad2;
  scrollbar-width: thin;
}

.open .menu-btn {
  border-color: #f58196;
  border: none;
  background: none;
  animation: none;
}

.open .glass {
  display: none;
}

.open .menu-btn-line {
  display: block;
  width: 40px;
  position: fixed;
  right: -70%;
  top: -70%;
  background-color: transparent;
}
.open .menu-btn-line::before,
.open .menu-btn-line::after {
  top: 0;
  background: #f58196;
}
.open .menu-btn-line::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.open .menu-btn-line::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/*開いたメニュー*/
.menu {
  position: fixed;
  bottom: 3px;
  right: 5%;
  left: 5%;
  max-width: 1280px;
  width: 80%;
  height: 80vh;
  background: #fef0f2;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  visibility: hidden;
  opacity: 0;
  z-index: 100;
  padding: 3%;
  margin: 40px auto;
}

.menu_LOGO {
  width: 96px;
  margin-bottom: 40px;
}

.menu .main_menu ul {
  display: flex;
  gap: 20px;
  margin: 30px auto;
}

.menu .main_menu li {
  display: block;
  max-width: 100%;
  width: 230px;
  box-sizing: border-box;
  border: 1px solid #1f1e00;
  background-color: #fff;
  font-weight: 500;
  border-radius: 26px;
  padding: 4px 16px;
}

.navi_items {
  display: flex;
  justify-content: space-between;
}

.menu .main_menu li span {
  display: block;
}
.menu .main_menu li .item {
  margin-left: 20%;
  text-align: right;
  font-weight: 300;
}

.sub_navi_block .head {
  font-weight: 500;
  margin: 18px auto;
}

.sub_navi_block ul {
  display: flex;
  gap: 20px;
  margin: 20px auto;
}

.sub_navi_block ul .key_box {
  display: block;
  width: 150px;
  box-sizing: border-box;
  border: 1px solid #1f1e00;
  background-color: #fff;
  padding: 8px 16px;
  border-radius: 34px;
  text-align: center;
  transition: 0.4s;
}
.sub_navi_block ul .key_box:hover {
  background-color: #f57096;
  color: #fff;
}

.sub_navi_block ul a.sns {
  color: #fff;
}

.sub_navi_block ul li a.insta {
  color: #fff;
  background: linear-gradient(
    90deg,
    #4c64d3 0%,
    #cf2e92 34%,
    #f26939 67%,
    #ffdd83 100%
  );
}
.sub_navi_block ul li a.X {
  color: #fff;
  background-color: #1f1e00;
}

.search-form-5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 440px; /* 任意の幅に調整してください */
  overflow: hidden;
  border-radius: 25px;
  background-color: #ffffff;
  border: 1px solid #1f1e00;
}

.search-form-5 input {
  height: 35px;
  padding: 5px 15px;
  border: none;
  box-sizing: border-box;
  background-color: #ffffff;
  font-size: 1em;
  outline: none;
}

.search-form-5 input::placeholder {
  color: #8a8a8a;
}

.search-form-5 button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.search-form-5 button::after {
  width: 20px;
  height: 20px;
  background-image: url(../image/search.svg);
  background-repeat: no-repeat;
  content: "";
}

/* 検索窓用アニメーション */
@keyframes rotateCircle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1140px) {
  /* 検索窓 */
  /*開閉用ボタン（ハンバーガーボタン）*/
  .glass {
    margin: 0px auto;
    display: block;
    /* line-height: 200px; */
    width: 76px;
    padding: 25%;
  }

  .menu-btn {
    position: sticky;
    margin-bottom: 70px;
    bottom: 5%;
    left: 44%;
    right: 44%;
    background-image: url(../image/make_smile_circle.svg);
    width: 166px;
    height: 166px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 101;
    border: none;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    animation: rotateCircle 30s linear infinite;
  }
  .menu-btn-line {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 1px;
    width: 30%;
    background: #333;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: none;
  }
  .menu-btn-line::before,
  .menu-btn-line::after {
    content: "";
    height: 1px;
    width: 100%;
    background: #333;
    position: absolute;
    left: 0;
    -webkit-transition: inherit;
    transition: inherit;
  }
  .menu-btn-line::before {
    top: -5px;
  }
  .menu-btn-line::after {
    top: 5px;
  }

  /* 開閉用ボタンがクリックされた時のスタイル */

  .open .menu {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    visibility: visible;
    opacity: 1;
    display: flex;
    flex-direction: column;
    padding: 3%;
    margin: 40px auto;
  }

  .open .menu-btn {
    border-color: #f58196;
    border: none;
    background: none;
    animation: none;
  }

  .open .glass {
    display: none;
  }

  .open .menu-btn-line::before,
  .open .menu-btn-line::after {
    top: 0;
    background: #f58196;
  }
  .open .menu-btn-line::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .open .menu-btn-line::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  /*開いたメニュー*/
  .menu {
    position: fixed;
    bottom: 3px;
    right: 5%;
    left: 5%;
    max-width: 1280px;
    width: 80%;
    height: 80vh;
    background: #fef0f2;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    visibility: hidden;
    opacity: 0;
    z-index: 100;
    padding: 3%;
    margin: 40px auto;
  }

  .menu .main_menu ul {
    flex-direction: column;
    gap: 16px;
  }

  .sub_navi_block ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px auto;
  }

  .sub_navi_block ul .key_box {
    display: block;
    width: 150px;
    box-sizing: border-box;
    border: 1px solid #1f1e00;
    background-color: #fff;
    padding: 8px 16px;
    border-radius: 34px;
    text-align: center;
  }
}
@media screen and (max-width: 980px) {
  .contact_container p {
    font-size: 16px;
  }

  .contact_illust {
    width: 400px;
    height: 264px;
  }

  .search {
    left: 40%;
    bottom: 3%;
  }
  .search-form-5 {
    width: 300px; /* 任意の幅に調整してください */
  }
  .contact_link img {
    display: block;
    width: 140px;
  }

  .contact_illust .balloon1,
  .contact_illust .balloon2 {
    width: 56px;
  }
}

/* SP版 */
@media screen and (max-width: 800px) {
  .contact_container {
    height: 506px;
    border-radius: 32px;
    margin-bottom: 100px;
    padding: 5px;
  }

  .about_contact {
    height: 522px;
  }

  .border {
    border-radius: 24px;
    padding: 40px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 44px;
  }
  h2 {
    font-size: 36px;
    margin-bottom: 0px;
  }

  .contact_text_top h2 {
    margin-bottom: 26px;
  }

  .contact_container p {
    font-size: 16px;
  }

  .faq_btn a {
    font-size: 16px;
    padding: 8px;
    width: 240px;
  }
  .contact_illust {
    border-radius: 42px;
    width: 260px;
    height: 144px;
  }
  .contact_link img {
    display: block;
    width: 90px;
    top: 25%;
    left: 35%;
  }

  .contact_illust .balloon1 {
    width: 32px;
    top: 27px;
    left: 40px;
  }

  .contact_illust .balloon2 {
    width: 32px;
    top: 80px;
    left: 20px;
  }

  /* 検索窓 */
  .menu-btn {
    left: 40%;
    width: 166px;
    height: 166px;
  }
  /* 開閉用ボタンがクリックされた時のスタイル */

  .open .menu {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    visibility: visible;
    opacity: 1;
    display: flex;
    flex-direction: column;
    padding: 3%;
    margin: 40px auto;
  }

  /*開いたメニュー*/
  .menu {
    position: fixed;
    bottom: 3px;
    right: 5%;
    left: 5%;
    max-width: 1280px;
    width: 80%;
    height: 80vh;
  }
}
@media screen and (max-width: 690px) {
  .menu-btn {
    left: 37%;
  }
}
@media screen and (max-width: 400px) {
  .menu-btn {
    left: 30%;
  }
}

/* フッター */
.footer {
  background-color: #fff9e5;
  display: flex;
  justify-content: space-between;
  padding: 32px 8%;
  position: relative;
}

.footer_nav {
  /* background-color: #c7eaee; */
  display: flex;
  gap: 72px;
}

.footer_nav ul {
  display: flex;
  gap: 72px;
  align-items: center;
}

.footer_nav li {
  font-size: 20px;
}

.footer_nav li:hover {
  color: #f57096;
}

.footer_nav a {
  position: relative;
}

.footer_nav a::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #f57096;
  bottom: -10px;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

.footer_nav a:hover::after {
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}

.sns_box {
  display: flex;
  align-items: center;
  gap: 16px;
}

.sns {
  width: 40px;
}

.footer_right {
  /* background-color: #c7eaee; */
  display: flex;
  align-items: flex-end;
  gap: 50px;
  margin-left: 24px;
}

.top_page {
  width: 18px;
}

.top_page:hover {
  transition: 1s;
  -webkit-transform: rotateX(360deg);
  transform: rotateX(360deg);
}

.top_page a:hover::before {
  top: 25px;
}

@media screen and (max-width: 1140px) {
  .footer_nav {
    gap: 48px;
  }

  .footer_nav ul {
    gap: 48px;
  }

  .footer_right {
    /* background-color: #c7eaee; */
    display: flex;
    align-items: flex-end;
    gap: 0px;
    margin-left: 40px;
  }
}

@media screen and (max-width: 980px) {
  .footer_nav {
    gap: 24px;
  }

  .footer_nav ul {
    gap: 24px;
  }
}

/* SP版 */
@media screen and (max-width: 800px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 58px 8%;
  }

  .footer_nav {
    display: flex;
    flex-direction: column;
    gap: 36px;
  }

  .footer_nav ul {
    display: flex;
    flex-direction: column;
    gap: 36px;
    align-items: center;
  }

  .footer_nav li {
    font-size: 20px;
  }

  .sns_box {
    justify-content: center;
    gap: 16px;
  }

  .sns {
    width: 40px;
  }

  .footer_right {
    gap: 30px;
    margin-left: 64px;
    margin-top: 25px;
  }

  .top_page {
    width: 18px;
  }
  small {
    font-size: 10px;
  }
}

/*----------------- About Me---------------- */
/* .AboutMe {
  background: #f58196;
} */

.AboutMe_title,
.Skills_titel,
.Works_title {
  display: flex;
  gap: 24px;
  align-items: baseline;
  margin-bottom: 80px;
  margin-left: 45px;
}

.AboutMe_title h2,
.Skills_titel h2,
.contact_title h2 {
  color: #f58196;
  font-family: "vdl-gigamarujr", sans-serif;
  font-weight: 300;
}

.AboutMe_title p,
.Skills_titel p,
.contact_title p {
  font-size: 36px;
  color: #f58196;
  text-shadow: 1px 1px 1px #fff, -1px 1px 1px #fff, 1px -1px 1px #fff,
    -1px -1px 1px #fff;
}

.AboutMe_container {
  background-color: #fff9e5;
  border-radius: 54px;
  max-width: 900px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 0 0 0 10%;
  margin: 0 auto;
}

.aboutme_text {
  /* background-color: #f58196; */
  margin-top: 118px;
  margin: 92px;
  display: flex;
  flex-direction: column;
}

.name h3 {
  font-size: 36px;
  font-weight: 500;
  margin: 24px 0 10px -4px;
}

.aboutme_text p {
  font-size: 16px;
  line-height: 1.4;
  padding-bottom: 64px;
}

.icon img {
  display: block;
  width: 300px;
  border-radius: 50%;
  margin-top: 54px;
  margin-bottom: 260px;
}

/* スキル&ツール */
.Skills {
  margin-bottom: 140px;
}

.Skills_container {
  display: flex;
  gap: 60px;
  margin-bottom: 92px;
}

.Skills_box {
  width: 520px;
  height: auto;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 36px;
}

.design_box {
  background-color: #fac0ca;
}

.coding_box {
  background-color: #b8e4e2;
}

.Skills_box img {
  display: block;
  width: 280px;
  margin-top: 32px;
}

.Skills_box h3 {
  font-size: 36px;
  font-weight: 400;
  margin: 48px auto;
}

.Skills_box p {
  font-size: 16px;
  line-height: 2;
}

/* ツール部分 */
.Tools_box {
  /* display: flex; */
  background-color: #fff;
  text-align: left;
}

.Tools {
  display: flex;
  align-items: baseline;
  gap: 16px;
  flex-wrap: wrap;
  margin-top: 20%;
}

.coding_box .Tools {
  margin-top: 34%;
}

.Tools h4 {
  font-size: 16px;
  font-weight: 400;
}

.Tools p {
  border: 1px solid #1f1e00;
  border-radius: 34px;
  padding: 0 8px 2px 8px;
  line-height: 24px;
  text-align: center;
}

.tools_box {
  width: 80%;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 9px;
}

.Flex {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1140px) {
  .AboutMe_title,
  .Skills_titel,
  .Works_title {
    flex-direction: column;
    gap: 0px;
  }
  .AboutMe_container {
    margin: 0 10px;
  }
  .design_box {
    margin-left: 10px;
  }

  .coding_box {
    margin-right: 10px;
  }
  .Tools {
    margin-top: 9%;
  }
  .coding_box .Tools {
    margin-top: 25%;
  }
}

@media screen and (max-width: 800px) {
  .AboutMe_title,
  .Skills_titel,
  .Works_title {
    flex-direction: column;
    gap: 14px;
    margin-bottom: 20px;
    margin-left: 30px;
  }
  .AboutMe_title p,
  .Skills_titel p,
  .contact_title p {
    font-size: 16px;
  }

  .AboutMe_container {
    border-radius: 54px;
    max-width: 800px;
    flex-direction: column-reverse;
    align-items: center;
    padding: 0;
    margin: 0 10px;
  }

  .aboutme_text {
    margin: 40px 10% 80px 10%;
    flex-direction: column;
  }

  .name h3 {
    font-size: 26px;
    margin: 24px 0 6px -4px;
  }

  .aboutme_text p {
    font-size: 16px;
    padding-bottom: 26px;
  }

  .icon {
    display: flex;
    justify-content: center;
  }
  .icon img {
    display: block;
    width: 200px;
    border-radius: 50%;
    margin-top: 54px;
    margin-bottom: 0px;
  }
  /* スキル&ツール */
  .Skills {
    margin-bottom: 100px;
  }
  .Skills_container {
    flex-direction: column;
    gap: 60px;
    margin-bottom: 92px;
  }

  .Skills_box {
    width: auto;
    padding: 36px;
  }
  .Skills_box img {
    display: block;
    width: 200px;
    margin-top: 32px;
  }

  .Skills_box h3 {
    font-size: 26px;
    font-weight: 400;
    margin: 48px auto;
  }
  .design_box {
    margin-right: 10px;
  }

  .coding_box {
    margin-left: 10px;
  }
  .Tools {
    flex-direction: row;
    justify-content: center;
  }

  .tools_box {
    flex-wrap: wrap;
    flex-direction: column;
    gap: 9px;
  }
  .coding_box .Tools {
    margin-top: 12%;
  }
}

/* -----------------------WORKS--------------------- */
.Works_title {
  padding-left: 0;
  margin-right: auto;
}

.Works_title h2 {
  color: #71cac6;
  font-weight: 300;
}

.Works_title p {
  font-size: 36px;
  color: #71cac6;
  text-shadow: 1px 1px 1px #fff, -1px 1px 1px #fff, 1px -1px 1px #fff,
    -1px -1px 1px #fff;
}

@media screen and (max-width: 980px) {
  .Works {
    justify-content: space-between;
    margin: 0 60px;
  }
}
@media screen and (max-width: 800px) {
  .Works {
    justify-content: center;
    gap: 60px;
    margin: 0 60px;
    padding-bottom: 120px;
  }
  .Works_title p {
    font-size: 16px;
  }
}

/* ---------Works遷移ページ------------ */
.MV {
  position: relative;
  box-sizing: border-box;
}

.MV .prev {
  position: absolute;
  top: 66%;
  left: 4%;
}
.MV .next {
  position: absolute;
  top: 66%;
  right: 4%;
}
.Works_Content h3 {
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 60px;
}

.Works_content_block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 192px;
}

.Works_small_block {
  display: flex;
  gap: 24px;
  align-items: center;
  margin-bottom: 40px;
}

.Works_Content h4 {
  font-size: 24px;
  font-weight: 400;
}

.Works_small_block:first-child h4,
.Works_small_block:nth-child(3) h4 {
  margin-right: 72px;
}

.Works_small_block:nth-child(2) h4 {
  margin-right: 24px;
}

.Works_small_block p {
  font-size: 24px;
}

.Works_small_block:nth-child(4) p {
  display: inline;
  padding: 8px 16px 12px 16px;
  border-radius: 40px;
  border: 1px solid#1f1e00;
}

.photoshop {
  background-color: #8fd5dd;
}

.Illustrator {
  background-color: #dc743b;
}

.Figma {
  background: #af6ca7;
}

.Canva {
  background-color: #c7eaee;
}

.VisualStudioCode {
  background-color: #8fb1dd;
}

.STUDIO {
  background-color: #f57096;
}

.GitHub {
  background-color: #af58a5;
}

.Works_overview_point {
  background-color: #fff9e5;
  border: 4px solid #1f1e00;
  border-radius: 50px;
  padding: 4px;
  margin-top: 30px;
  margin-bottom: 100px;
}

.Works_overview_point ul {
  background-color: #fff9e5;
  border: 2px solid #1f1e00;
  border-radius: 44px;
  padding: 40px 48px;
}

.Works_overview_point h4 {
  margin-bottom: 24px;
}

.overview {
  margin-bottom: 40px;
}

.overview p,
.point p {
  line-height: 1.4;
}
.point ul {
  border: none;
  padding: 0;
}
.point p {
  margin-bottom: 10px;
}

.point p::before {
  content: "○";
  margin-right: 10px;
}
.point .last_point {
  color: #f58196;
}
.point .last_point::before {
  content: none;
}

.Works_images h4 {
  margin-bottom: 48px;
}

.Works_images ul {
  display: flex;
  gap: 48px;
}

.Works_images img {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}
.works_sp {
  display: none;
}

@media screen and (max-width: 1280px) {
  .MV .prev,
  .MV .next {
    width: 60px;
  }
}
@media screen and (max-width: 1000px) {
  .MV_img {
    margin-left: 0%;
  }
  .MV .prev {
    position: absolute;
    top: 88%;
    left: 4%;
  }
  .MV .next {
    position: absolute;
    top: 88%;
    right: 4%;
  }
}

@media screen and (max-width: 980px) {
  .MV_img {
    margin: 0 auto;
  }
  .Works_content_block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
  }
}
@media screen and (max-width: 800px) {
  .MV .prev {
    position: absolute;
    top: 86%;
    left: 4%;
  }
  .MV .next {
    position: absolute;
    top: 86%;
    right: 4%;
  }
  .Works_Content {
    margin: 0 30px;
  }

  .Works_Content h3 {
    font-size: 24px;
    margin-bottom: 60px;
  }

  .Works_Content h4 {
    font-size: 16px;
  }

  .Works_small_block:first-child h4,
  .Works_small_block:nth-child(3) h4 {
    margin-right: 47px;
  }
  .Works_small_block:nth-child(2) h4 {
    margin-right: 15px;
  }
  .Works_small_block {
    align-items: flex-start;
  }

  .Works_small_block .skill_key {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 12px;
  }
  .Works_small_block p {
    font-size: 16px;
  }
  .Works_images ul {
    flex-direction: column;
  }
  .works_pc {
    display: none;
  }
  .works_sp {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Works_images img {
    box-shadow: none;
  }
}

/* コンタクトフォームページ */
.contact_title {
  display: flex;
  gap: 24px;
  align-items: baseline;
  margin-bottom: 64px;
}

.contact_message p {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.4;
}

.form_content_box {
  margin: 112px auto;
}

/* フォームの中身 */
.form_content {
  display: flex;
  margin-bottom: 92px;
  gap: 100px;
  justify-content: space-between;
}

.form_content label {
  font-size: 24px;
  font-weight: 400;
}

.form_content label::before {
  content: "◎";
}

.form_content label::after {
  content: "＊";
  color: #f5022e;
}

.form_content input,
.form_content textarea,
.form_content select {
  background-color: #fff;
  width: 524px;
  border: 1px solid #71cac6;
  border-radius: 16px;
  box-sizing: border-box;
  padding: 8px 16px;
}

input::placeholder,
textarea::placeholder,
select::placeholder {
  line-height: normal;
  color: #71cac6;
  font-family: "Zen Maru Gothic", serif, "ヒラギノ丸ゴ Pro W4",
    "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro", "ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic Pro", "HG丸ｺﾞｼｯｸM-PRO", "HGMaruGothicMPRO";
}

select {
  &:invalid {
    color: #71cac6;
  }
  option[value=""] {
    display: none;
  }
}

.send_btn {
  text-align: center;
}

.send_btn button {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
  border: 1px solid #1f1e00;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  animation: cloud 25s linear infinite;
  background: url(../image/cloud.svg),
    linear-gradient(#bbe4fa, hsl(171, 40%, 91%));
  background-position-x: 0%;
  background-position-y: 35%;
  background-repeat: repeat-x;
}

.send_btn button:hover {
  animation: cloud 10s linear infinite;
  background: url(../image/cloud.svg),
    linear-gradient(#ffb039, hsl(171, 40%, 91%));
  background-position-x: 0%;
  background-position-y: 35%;
  background-repeat: repeat-x;
  cursor: pointer;
  transition: 0.5s;
}

button img {
  width: 126px;
}

/* Thanksページ */
.Thanks_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  margin-bottom: 100px;
}
.Thanks {
  background-color: #fff;
  border: 1px solid #f57096;
  border-radius: 36px;
  text-align: center;
  margin: 200px 48px auto;
  max-width: 1100px;
  padding: 64px;
}

.Thanks h2 {
  color: #f57096;
}

.Thanks p {
  margin-top: 16px;
  line-height: 1.4;
  font-size: 24px;
}

.for_top a {
  display: block;
  text-align: center;
  background-color: #71cac6;
  width: 100%;
  max-width: 480px;
  height: 48px;
  padding: 16px;
  line-height: 16px;
  border-radius: 48px;
  color: #fff;
  transition: 0.4s;
  box-sizing: border-box;
}

.for_top a:hover {
  background-color: #fff;
  border: 1px solid #71cac6;
  box-sizing: border-box;
  color: #71cac6;
}

@media screen and (max-width: 1140px) {
  .contact_page_container {
    margin: 100px 30px;
  }
}

@media screen and (max-width: 900px) {
  .form_content label {
    font-size: 20px;
  }
}
@media screen and (max-width: 800px) {
  .contact_title {
    flex-direction: column;
    margin-bottom: 34px;
  }
  .contact_message p {
    font-size: 16px;
  }
  /* フォームの中身 */
  .form_content label {
    font-size: 20px;
  }

  .form_content input,
  .form_content textarea,
  .form_content select {
    width: 524px;
    max-width: 100%;
  }

  .send_btn button {
    width: 100px;
    height: 100px;
  }

  button img {
    width: 60px;
  }
  /* Thanksページ */
  .Thanks p {
    font-size: 16px;
  }

  .form_content_box {
    max-width: 524px;
  }

  .form_content {
    display: flex;
    margin-bottom: 48px;
    gap: 24px;
    justify-content: space-between;
    flex-direction: column;
  }
}
